# ========================
# SELinux
# ========================
CONFIG_SECURITY=y
CONFIG_SECURITY_SELINUX=y
CONFIG_SECURITY_SELINUX_BOOTPARAM=y
CONFIG_SECURITY_NETWORK=y
CONFIG_AUDIT=y

# Dev only; production nên cân nhắc tắt
CONFIG_SECURITY_SELINUX_DEVELOP=y

# ========================
# dm-verity
# ========================
CONFIG_BLK_DEV_DM=y
CONFIG_DM_VERITY=y
CONFIG_DM_BUFIO=y
CONFIG_DM_INIT=y
CONFIG_DM_UEVENT=y

CONFIG_CRYPTO_SHA256=y
CONFIG_CRYPTO_SHA512=y

# ========================
# Filesystem
# ========================
CONFIG_EXT4_FS=y
CONFIG_EXT4_FS_POSIX_ACL=y
CONFIG_EXT4_FS_SECURITY=y

# ========================
# fscrypt
# ========================
CONFIG_FS_ENCRYPTION=y

