/dts-v1/;
/plugin/;

/ {
    fragment@0 {
        target = <&uart1>;
        __overlay__ {
            status = "okay";
            #address-cells = <1>;
            #size-cells = <0>;

            rs485_sensor: rs485@0 {
                compatible = "mycompany,rs485-sensorhub";
                reg = <0>;
                rts-gpios = <&gpio 18 0>; /* Chân hướng GPIO 18 */
                current-speed = <9600>;   /* Baudrate mặc định */
            };
        };
    };
};
